<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="UTF-8">
      <title>Tin công nghệ</title>
      <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">Tin công nghệ</div>
       
      <div class="product-preview-container" th:each="prodInfo : ${productInfo}">
         <ul>
            <li><img class="product-image"
               th:src="@{|/productImage?code=${prodInfo.code}|}" /></li>
            <li>Tên bài viết: <span th:utext="${prodInfo.name}"></span></li>
            <li> <span th:utext="${prodInfo.detail}"></span></li>
         </ul>
      </div>
       
      <br/>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>